<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Coding/testing/Projects/automation pro/selenium/guru99SeleniumEcommerceProject">
        <classes>
            <class name="TestCases.Config"></class>
            <class name="TestCases.MobilePageTest"></class>
            <class name="TestCases.CartPageTest"></class>
        </classes>
    </test>
</suite>